<template>
<div id="app">
     <div class="container-fluid">
        <div class="row bg-dark">
          <div class="col-lg-12">
            <p class="text-center text-light display-4 pt-2" style="font-size:30px;">Sample la </p>
          </div>
        </div>
     </div>

     <div class="container">
         <div class="row mt-3">
             <div class="col-lg-6">
                 <h3 class="text-info">Registered Users</h3>
             </div>
             <div class="col-lg-6">
                 <button class="btn btn-info float-right" @click="showAddModal=true">
                     <i class="fas fa-user"></i>&nbsp;&nbsp;Add New User
                 </button>
             </div>
         </div>
           <hr class="bg-info">
           <div class="alert alert-danger" v-if="errorMsg">
               {{ errorMsg }}
           </div>
           <div class="alert alert-success" v-if="successMsg">
                {{ successMsg }}
           </div>
           <div class="row">
               <div class="col-lg-12">
                   <table class="table table-bordered table-stripped">
                       <thead>
                           <tr class="text-center bg-info text-light">
                               <th>id</th>
                               <th>Name</th>
                               <th>Lastname</th>
                               <th>Email</th>
                               <th>Phone</th>
                               <th>edit</th>
                               <th>delete</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr class="text-center" v-for="users in users" :value="users.users" :key="users.users">
                           <td>{{ users.id }}</td>
                           <td>{{ users.name }}</td>
                           <td>{{ users.lastname }}</td>
                           <td>{{ users.email }}</td>
                           <td>{{users.phone}}</td>
                           <td><a href="#" class="text-success" @click="showEditModal=true"><i class="fas fa-edit"></i></a></td>
                           <td><a href="#" class="text-danger" @click="showDeleteModal=true"><i class="fas fa-trash-alt"></i></a></td>
                           </tr>
                       </tbody>
                   </table>
               </div>
           </div>
           <!--addModal-->
             <div id="overlay" v-if="showAddModal">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title">add new user</h5>
                         <button type="button" class="close" @click="showAddModal=false">
                             <span aria-hidden="true">&times;</span>
                         </button>
                 </div>
                 <div class="modal-body p-4">
                     <form action="#" method="post">
                         <div class="form-group">
                             <input type="text" name="name" class="form-control form-control-lg" placeholder="Name">
                         </div>
                          <div class="form-group">
                             <input type="text" name="lastname" class="form-control form-control-lg" placeholder="Lastname">
                         </div>
                           <div class="form-group">
                             <input type="text" name="email" class="form-control form-control-lg" placeholder="Email">
                         </div>
                          <div class="form-group">
                             <input type="text" name="phone" class="form-control form-control-lg" placeholder="Phone">
                         </div>
                          <div class="form-group">
                             <button class="btn btn-info btn-block btn-lg" @click="showAddModal=false">add user</button>
                         </div>
                     </form> 
                 </div>
             </div>
         </div>
     </div>
            <!--editModal-->
                <div id="overlay" v-if="showEditModal">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title">Edit User  </h5>
                         <button type="button" class="close" @click="showEditModal=false">
                             <span aria-hidden="true">&times;</span>
                         </button>
                 </div>
                 <div class="modal-body p-4">
                     <form action="#" method="post">
                         <div class="form-group">
                             <input type="text" name="name" class="form-control form-control-lg" placeholder="Name">
                         </div>
                          <div class="form-group">
                             <input type="text" name="lastname" class="form-control form-control-lg" placeholder="Lastname">
                         </div>
                           <div class="form-group">
                             <input type="text" name="email" class="form-control form-control-lg" placeholder="Email">
                         </div>
                          <div class="form-group">
                             <input type="text" name="phone" class="form-control form-control-lg" placeholder="Phone">
                         </div>
                          <div class="form-group">
                             <button class="btn btn-info btn-block btn-lg" @click="showEditModal=false">Update User</button>
                         </div>
                     </form> 
                 </div>
             </div>
         </div>
     </div>
            <!--deleteModal-->
                <div id="overlay" v-if="showDeleteModal">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title">Edit User  </h5>
                         <button type="button" class="close" @click="showDeleteModal=false">
                             <span aria-hidden="true">&times;</span>
                         </button>
                 </div>
                 <div class="modal-body p-4">
                     <h4 class="text-danger">Are you sure want to delete this user?</h4>
                     <h5>you are delete 'ako' </h5>
                     <hr>
                     <button class="btn btn-danger btn-lg" @click="showDeleteModal=false">Yes</button>
                     &nbsp;&nbsp;&nbsp;&nbsp;
                     <button class="btn btn-success btn-lg" @click="showDeleteModal=false">No</button>
                 </div>
             </div>
         </div>
     </div>

     </div>
     
</div>
</template>

<script>
import axios from 'axios';
export default {
    name: 'app',
    components:{
    
    },
      data(){
          return{
           errorMsg: "",
            successMsg: "",
            showAddModal: false,
            showEditModal: false,
            showDeleteModal:false,
            users:[],
            newUser: {name: "",lastname: "",email: "",phone: "" },
            currentUser:{}
          }

          
    }, 
    
    mounted: function(){
        this.getAllUsers();
    },
       methods:{
           axios,
           getAllUsers(){
               axios.get("http://localhost/spa/src/process.php?action=read").then(function(response){
                   if(response.data.error){
                       response.data.message;
                   }else{
                      response.data.users;
                   }
               });
               
           }
       }
};


</script>     
<style scoped>
    #overlay{
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: rgba(0,0,0,0.6);
    }
</style>
